<nav class="site-nav">
    <ul>
      {{ range site.Menus.main }}
        {{ $active := false }}

        {{ if eq .Identifier "home" }}
          {{ $active = eq $.RelPermalink "/" }}
        {{ else if eq .Identifier "blog" }}
          {{ $active = eq $.Section "blog" }}
        {{ else if eq .Identifier "about" }}
          {{ $active = eq $.RelPermalink "/about/" }}
        {{ else if eq .Identifier "guestbook" }}
          {{ $active = eq $.RelPermalink "/guestbook/" }}
        {{ end }}

        <li>
          <a
            href="{{ .URL }}"
            class="{{ if $active }}active{{ end }}"
            {{ if $active }}aria-current="page"{{ end }}>
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>
  </nav>